# API
API_PORT=8080


# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB=empresasdb
MONGO_COLLECTION=empresas


# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=empresa_logs


# Consumer / WebSocket
CONSUMER_PORT=8090
WS_ALLOWED_ORIGINS=*

READ_HEADER_TIMEOUT=5s

# ---- WS ----
WS_ADDR=:8090
WS_READ_HEADER_TIMEOUT=5s
WS_SHUTDOWN_TIMEOUT=10s
WS_PREFETCH=50